:root {
  --p-toggleswitch-width:2.5rem;
  --p-toggleswitch-height:1.5rem;
  --p-toggleswitch-border-radius:30px;
  --p-toggleswitch-gap:0.25rem;
  --p-toggleswitch-shadow:var(--p-form-field-shadow);
  --p-toggleswitch-focus-ring-width:var(--p-focus-ring-width);
  --p-toggleswitch-focus-ring-style:var(--p-focus-ring-style);
  --p-toggleswitch-focus-ring-color:var(--p-focus-ring-color);
  --p-toggleswitch-focus-ring-offset:var(--p-focus-ring-offset);
  --p-toggleswitch-focus-ring-shadow:var(--p-focus-ring-shadow);
  --p-toggleswitch-border-width:1px;
  --p-toggleswitch-border-color:transparent;
  --p-toggleswitch-hover-border-color:transparent;
  --p-toggleswitch-checked-border-color:transparent;
  --p-toggleswitch-checked-hover-border-color:transparent;
  --p-toggleswitch-invalid-border-color:var(--p-form-field-invalid-border-color);
  --p-toggleswitch-transition-duration:var(--p-form-field-transition-duration);
  --p-toggleswitch-slide-duration:0.2s;
  --p-toggleswitch-disabled-background:var(--p-form-field-disabled-background);
  --p-toggleswitch-handle-border-radius:50%;
  --p-toggleswitch-handle-size:1rem;
  --p-toggleswitch-handle-disabled-background:var(--p-form-field-disabled-color);
  --p-toggleswitch-background:var(--p-surface-300);
  --p-toggleswitch-hover-background:var(--p-surface-400);
  --p-toggleswitch-checked-background:var(--p-primary-color);
  --p-toggleswitch-checked-hover-background:var(--p-primary-hover-color);
  --p-toggleswitch-handle-background:var(--p-surface-0);
  --p-toggleswitch-handle-hover-background:var(--p-surface-0);
  --p-toggleswitch-handle-checked-background:var(--p-surface-0);
  --p-toggleswitch-handle-checked-hover-background:var(--p-surface-0);
}
.p-dark {
  --p-toggleswitch-background:var(--p-surface-700);
  --p-toggleswitch-hover-background:var(--p-surface-600);
  --p-toggleswitch-checked-background:var(--p-primary-color);
  --p-toggleswitch-checked-hover-background:var(--p-primary-hover-color);
  --p-toggleswitch-handle-background:var(--p-surface-400);
  --p-toggleswitch-handle-hover-background:var(--p-surface-300);
  --p-toggleswitch-handle-checked-background:var(--p-surface-900);
  --p-toggleswitch-handle-checked-hover-background:var(--p-surface-900);
}
